body {
    background-color: white;

}

.container {
    width: 700px;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
    box-shadow: gray 0px 20px 60px;
    border: black solid 1px;
    font-family: 'Roboto', sans-serif;
}

.info-person {
    display: flex;
    padding: 5px;
    align-items: center;
    background: rgb(255, 241, 49);

}

.name {
    margin-left: 10px;
    font-size: 40px;
}

.photo {
    box-shadow: black 0px 0px 10px;
    height: 160px;
    width: 150px;
}

.age {
    font-size: 15px;
    margin: 0 auto;
}

.info-block h2 {
    background-color: black;
    color: white;
    display: inline-block;
    margin: 10px 0px 10px 76px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 1px 3px;
}

.info-block a {
    color: black;
    text-decoration: none;
}

p {
    margin: 5px 20% 5px 76px;
    word-break: break-all;

}

.info-block li {
    margin-left: 76px;
}

ul {
    margin-top: 5px;
}

.bordered-text {

    border-bottom: 5px solid;
    display: inline-block;
}
.ending{
    padding-bottom: 30px;
}